<main>
  <section>
    <h1>Signals Lesson</h1>
    <p>
      Signals are a primitive data type used for reactive programming. Instead
      of using a component tree, it uses a signal graph, which allows angular to
      know exactly where something changed and exactly what changed.
    </p>
  </section>
  <section>
    <h2>Creation</h2>
    <p>Signals can be initiated using this syntax:</p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="initializeSignalCode"></code>
    </pre>
  </section>
  <section>
    <h2>Set</h2>
    <p>Signals can be changed using the set() operator</p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="setSignalCode"></code>
    </pre>
  </section>
  <section>
    <h2>Update</h2>
    <p>
      Signals can be changed using the update() operator. This creates a new
      value from the old one.
    </p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="updateSignalCode"></code>
    </pre>
    <button (click)="updateCount()">Update Count</button>
    <span>{{ count() }}</span>
  </section>
  <section>
    <h2>Computed</h2>
    <p>
      A computed signal is a read-only value that is derived from or is
      dependant on a another signal. Whenever count updates, Angular knows that
      tenTimesCount needs to update as well. They are not writable so you cant
      use set() on it.The value is lazily evaluated, meaning it doesn't
      calculate until the value is read or used. The value is also cached/saved
      or memoized so it doesn't have to recalculate, it just saves the last
      emitted value.
    </p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="computedSignalCode"></code>
    </pre>
    <span>Count: {{ count() }}</span>
    <span>Ten Times:{{ tenTimesCount() }}</span>
  </section>
  <section>
    <h2>Effect</h2>
    <p>
      Signals can use effect for side effects like logging or debugging, these
      emit every time a signal changes. This should NOT be used to update the
      state. *Check console!*
    </p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="effectSignalCode"></code>
    </pre>
  </section>
  <section>
    <h2>RxJS</h2>
    <h3>toSignal()</h3>
    <p>
      Observables can be converted to signals using the toSignal() function.
    </p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="toSignalSignalCode"></code>
    </pre>
    <span>Signal Date: {{ date() }}</span>
  </section>
  <section>
    <h3>toObservable()</h3>
    <p>Conversely, signals can be converted to observables.</p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="toObservableSignalCode"></code>
    </pre>
    <span>Observable Date: {{ date$ | async }}</span>
  </section>
  <section>
    <h2>*New API*: Input, Output, ViewChild/Children, ContentChild/Children</h2>
    <h3>viewChild</h3>
    <p>You can access children using the viewChild() function</p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="viewChildSignalCode"></code>
    </pre>
    <span #viewChildExample>This is the viewChild example!</span>
  </section>
  <section>
    <h3>input(), output() and model()</h3>
    <p>
      You can pass values to a child component from the parent using the input()
      function and from the parent component to the child using the output().
      The model() function is used for both input and output for 2-way-binding.
    </p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="inputAndOutputSignalCode"></code>
    </pre>
    <span id="childSignalOutputExample"></span>
    <span id="childSignalModelExample"></span>
    <app-signals-lesson-child
      [parentSignalInputExample]="parentSignalInputExample"
      (childSignalOutputExample)="displayChildSignalOutputExample($event)"
      [(modelSignalExample)]="modelSignalExample"
    ></app-signals-lesson-child>
  </section>
  <section>
    <h3>model()</h3>
    <p>
      You can pass values to a child component from the parent using the input()
      function and from the parent component to the child using the output()
    </p>
    <pre id="code-snippet" role="presentation">
      <code [innerHTML]="modelSignalCode"></code>
    </pre>
    <span id="SignalOutputExample"></span>
    <app-signals-lesson-child
      [parentSignalInputExample]="parentSignalInputExample"
      (childSignalOutputExample)="displayChildSignalOutputExample($event)"
    ></app-signals-lesson-child>
  </section>
</main>
