<header>
    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="decorators" routerLinkActive="active">Decorators</a>
        <a routerLink="directives" routerLinkActive="active">Directives</a>
        <a routerLink="pipes" routerLinkActive="active">Pipes</a>
        <a routerLink="routing" routerLinkActive="active">Routing</a>
        <a routerLink="view-child" routerLinkActive="active">View Child</a>
        <a routerLink="observables" routerLinkActive="active">Observables</a>
        <a routerLink="life-cycle-hooks" routerLinkActive="active">Life-Cycle-Hooks</a>
        <a routerLink="rxjs" routerLinkActive="active">RXJS</a>
        <a routerLink="ngrx" routerLinkActive="active">NGRX</a>
    </nav>
</header>

