<div class="pipe-component-container">
  <h1>Pipe Lesson</h1>
  <div class="reverse-pipe-container">
    <span>This is a reverse string ('hello') using a custom pipe: {{'hello' | reverse }} </span>
    <span>You can chain pipes ('goodbye') (reverse + uppercase): {{'goodbye' | reverse | uppercase}}</span>
  </div> 
  <div class="exponential-power-container">
    <h2>Super Power Boost Calculator</h2>
    <label for="power-input">Normal power: </label>
    <!-- [(ngModel)] is used to to bind input values to a variable -->
    <input id="power-input" type="text" [(ngModel)]="value">
    <label for="boost-input">Boost factor: </label>
    <input id="boost-input" type="text" [(ngModel)]="value">
    <p>
      Super Hero Power: {{value | exponentialPower: exponent }}
    </p>
  </div>  
</div>
