main{
    background-color: white;
    .mat-form-field{
        padding: 20px;
        display: block;
    }
    .mat-error{
        font-size: 16px;
    }
    button{
        margin-top: 30px;
    }
}