@import "prismjs/themes/prism.css";
@import "~prismjs/themes/prism-dark.css";

@font-face {
    font-family: 'DBZ-font';
    src: url('./assets/fonts/Saiyan-Sans.ttf');
}
@font-face {
    font-family: 'Woliu-font';
    src: url('./assets/fonts/Woliu-Maners-Demo.ttf');
}
@font-face {
    font-family: 'Merriweather-font';
    src: url('./assets/fonts/Merriweather-Regular.ttf');
}
*{
    letter-spacing: 2px;
    color: 00000;
    font-family: 'Woliu-font';
    font-size: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-color: #5e6061;

    main{
        padding: 40px;
        margin-left: 250px;
        white-space:wrap;
    }
    
    h1{
        color: #ffffff;
        text-decoration: underline;
    }
       
    h2{
        color: #ffffff;
    }
    
    a{
        color: black;
        
    }
    
    h1, h2{
        letter-spacing: 5px;
    }

    #code-snippet{
        background: black;
        color: white;
    }
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
